<br><br><br><h2><font color="FFFFFF">HELLO INDEX HOME PAGE</font></h2>

<div class="section-container accordion">
  <p class="title">
    <a href="#">Section 1</a>
  </p>
  <div class="content">
    <p>
      Content of section 1.
    </p>
  </div>
  <p class="title">
    <a href="#">Section 2</a>
  </p>
  <div class="content">
    <p>
      Content of section 2.
    </p>
  </div>
</div>
